<!doctype html>
<html>

<head>
  <title>Ochroniarz haseł</title>
  <script src="/static/main.js"></script>
  <script>
    window.addEventListener("load", function () {
      start = document.getElementById("start")
      event.preventDefault()
      fetch('/user_passwords', { method: "get" })
        .then((response) => response.text())
        .then((text) => console.info(text))
    });

    es = new EventSource("/stream")
    es.addEventListener("msg", function (event) {
      set_tabelka("Twoje hasla", event.data)
    }, false);
    es.addEventListener("error", function (event) {
      set_output("Nie udało się pobrać, sadge");
    }, false);
  </script>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}" }}>
  <!-- <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" }}> -->
</head>

<body>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#addPass">Dodaj haslo</a></li>
      <li><a href="#contact">Importuj hasla</a></li>
      <li><a href="#contact">Eksportuj hasla</a></li>
      <li style="float:right"><a class="active" href="/logout">Wyloguj</a></li>
    </ul>
  <div class="main" id="main">
    <p id="start">Witaj użytkowniku: {{ username }}.</p>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
    <table id="output"></table>
  </div>

	<div class="overlay" id="addPass">
		<div class="wrapper">
			<h2>Dodaj hasło</h2><a class="close" href="#">&times;</a>
			<div class="content">
				<div class="container">
					<form action="/user/addPass" method="post">
						<label>Nazwa witryny</label>
						<input name="name" placeholder="" type="text">
						<label>Hasło</label>
						<input name="new_password" placeholder="Hasło" type="password">
						<input type="submit" value="Submit">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>